# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/
build/
dist/
*.egg-info/

# IDE
.idea/
.vscode/

# Bytecode
*.pyc

# Logs
*.log
logs/

# Coverage
.coverage
htmlcov/
coverage.xml

# Migrations cache
migrations/__pycache__/

# Environment files
.env
.env.*

# Docker
.docker/


